<!DOCTYPE html>
<html lang="en">
<head>
  <title>ORM Performance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <h2>Venda</h2>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Tipo</th>
        <th>Valor Venda</th>
        <th>Data Venda</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for venda in vendas%}
        <tr>
          <td>{{ venda.produto.nome }}</td>
          <td>{{ venda.produto.tipo.nome }}</td>
          <td>{{ venda.valor_venda }}</td>
          <td>{{ venda.data_venda }}</td>
        </tr>    
      {% endfor %}

      </tr>
    </tbody>
  </table>
  
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>
